<h1>Documentary films listing page</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Synopsis</th>
            <th>Director</th>
        </tr>
    </thead>
    <tbody>
        <% @documentryfilms.each do |documentry|%>
        <tr>
            <td><%= documentry.name%></td>
            <td><%= documentry.synopsis%></td>
            <td><%= documentry.director%></td>
            <td><%= link_to 'Show', documentry_film_path(documentry)%></td>
            <td><%= button_to 'Delete', documentry_film_path(documentry), method: :delete, data: {confirm: "Are you sure"}  %></td>
            <td><%= link_to 'Edit', edit_documentry_film_path(documentry), method: :update %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<p>
    <%= link_to 'Create new documentary films', new_documentry_film_path%>
    
</p>