<h1>Series listing page</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Synopsis</th>
            <th>Director</th>
        </tr>
    </thead>
    <tbody>
        <% @series.each do |serie|%>
        <tr>
            <td><%= serie.name%></td>
            <td><%= serie.synopsis%></td>
            <td><%= serie.director%></td>
             <td><%= link_to 'Show', series_path(serie)%></td>
            <td><%= button_to 'Delete', series_path(serie), method: :delete, data: {confirm: "Are you sure"}  %></td>
            <td><%= link_to 'Edit', edit_series_path(serie), method: :update %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<p>
    <%= link_to 'Create new serie', new_series_path%>
</p>